{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="30">
{% endblock %}


{% block body %}
<script>
    function submitForm() {
        document.getElementById("process").submit();
        setTimeout(() => {
            document.getElementById("submitButton").disabled = false;
            }, 1000);
    }
</script>

<div class="main">
    <p style="width: 800px;" class="horizontal-center">
        <p>
            <p>Do textového pole můžete zadat jeden z následujících příkazů:</p>
            <p>
                otevrit - Otevře experimentální sezení k přihlášení (po usazení účastníků)<br>
                spustit - Spustí experimentální sezení pro všechny participanty (jakmile se níže zobrazí, že je přihlášen správný počet účastníků)<br>
                ukoncit - Ukončí experimentální sezení (jakmile je u všech účastníků zelená fajfka)<br>
                ---------------------------------------------------------------------------------<br>
                preskocit id - Odstraní participanta s daným id ze studie (při technických problémech)<br>
                ukazat sezeni/skupiny/vyherce/participanty/nabidky/pary/rozhodnuti/reakce - Ukáže příslušná data<br>
                data sezeni/skupiny/vyherci/participanti/nabidky/pary/rozhodnuti/reakce - Stáhne příslušná data<br>
                stahnout - Stáhne všechny soubory s výsledky participantů v .zip souboru
                data vse - Stáhne všechna data
            </p>
            <p>Po zadání příkazu klikněte na tlačítko Provést.</p>
        </p>        
        <form method="POST" id="process">
            {% csrf_token %}
            <input type="text" name="answer" maxlength="50" size="50" autofocus required><br>
            <input type="submit" name="continue" value="Provést" id="submitButton" class="horizontal-center" onclick="this.disabled=true; submitForm();" style="margin-bottom: 10px; margin-top: 10px;">
        </form>
    </p>
    <p id="info" style="margin-bottom: 10px; margin-top: 10px;">  
        <b>{{ info }}</b>
    </p>
    {% if status == "ongoing" and participants %}  
        <p>        
            <p>Odměny participantů, kteří již dokončili studii:</p>
            <ul> 
                {% for participant, info in participants.items %} 
                    <li>{% if info.file %}&#9989;{% else %}&#10060;{% endif %} {{participant}}: {{info.reward}}</li>
                {% endfor %} 
            </ul>                 
        </p>
    {% endif %} 
</div>
{% endblock %}